In [2]:
import os
import psycopg2

In [15]:
username = 'postgres'
password = '0310'
hostname ='127.0.0.1'
port = '5432'
db = 'test'

In [23]:
DATABASE_URL = 'postgresql://{username}:{password}@{hostname}:{port}/{db}'

In [19]:
DATABASE_URL = "postgresq://{'postgres'}:{'0310'}@{'127.0.0.1'}:{'5432'}/{'test'}"

In [24]:
DATABASE_URL

'postgresql://{username}:{password}@{hostname}:{port}/{db}'

In [27]:
dsn = "dbname=test host=127.0.0.1 user=postgres password=0310"

In [25]:
def get_connection():
    dsn = os.environ.get(DATABASE_URL)
    return psycopg2.connect(dsn)

In [28]:
def get_connection():
    dsn = "dbname=test host=127.0.0.1 user=postgres password=0310"
    return psycopg2.connect(dsn)

In [29]:
conn = get_connection()

In [30]:
cur = conn.cursor()

In [35]:
cur.execute("select * from weather2")

In [36]:
cur.query

b'select * from weather2'

In [37]:
rows = cur.fetchall()

In [38]:
print(rows)

[(1, 'Cicago', 35, 48, 0.24, datetime.datetime(2021, 10, 10, 0, 0)), (2, 'Tokyo', 32, 45, 0.5, datetime.datetime(2010, 9, 2, 0, 0)), (3, 'Tokyo', 35, 48, 0.24, datetime.datetime(2021, 10, 10, 0, 0)), (4, 'Osaka', 25, 39, 0.45, datetime.datetime(2021, 10, 10, 0, 0)), (5, 'Kyoto', 39, 59, 24.0, datetime.datetime(2011, 2, 1, 0, 0)), (6, 'Nagoya', 30, 40, 0.33, datetime.datetime(2010, 1, 1, 0, 0)), (7, 'Utsunomiya', 30, 45, 0.24, datetime.datetime(2021, 10, 8, 0, 0)), (8, 'Utsunomiya', 30, 45, 0.24, datetime.datetime(2021, 10, 8, 0, 0)), (1, 'Yaita', 10, 25, 0.33, datetime.datetime(2015, 10, 8, 0, 0)), (2, 'Yaita', 10, 25, 0.33, datetime.datetime(2015, 10, 8, 0, 0))]